@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Alegreya);

body {
	background-color: white;
	text-align: center;
    font-family: 'Alegreya', serif;
}
h1 {
	font-size: 3.5em;
	font-weight: bold;
	color: #A10B05;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

h2 {
	color: black;
	font-size: 1.5em;
	margin: 1em;
}

p {
	color: black;
	font-size: 1em;
	margin: 4em;
	text-align: center;
}
li {
	color: black;
	font-size: 1.5em;
	margin: 1em;
	text-align: center;
}
hr {
	width: 80%;

}
header {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #B1B0AB;
	border: 1px black solid;
	padding: 20px;
}

a {
	background-color: #B1B0AB;
	text-decoration: none;
	color: white;
	float: left;
	display: block;
	padding: 15px;
}

a:hover {
	background-color: #A10B05;
}

aside {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #A10B05;
	border: 1px black solid;
	padding: 20px;
}

#two_column {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #A10B05;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #A10B05;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

section {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}

@media screen only and (min-width: 300px) {

 #left {
	font-size: .8em;
	float: none;
} 
  h1, nav {
    display: block;
    text-align: center;
  }
}