@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Alegreya);

body {
	background-color: white;
	text-align: center;
    font-family: 'Alegreya', serif;
}
h1 {
	font-size: 60px;
	font-weight: bold;
	color: #A10B05;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

h2 {
	color: black;
	font-size: 22px;
	margin: 1em;
}

p {
	color: black;
	font-size: 18px;
	margin: 4em;
	text-align: center;
}
li {
	color: black;
	font-size: 18px;
	margin: 1em;
	text-align: center;
}
hr {
	width: 800px;

}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}